{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}


<div class="cov_sl" style="background: url(/assets/images/interface/bigsl1.jpg) center center / cover; height: 738px; position: relative; display: block;">
    <div style="position: absolute;
    top: 65%;
    color: white;
    left: 50%;
    margin-left: -140px;
    text-align: center;">
        <h2 style="font-size: 70px;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 1px black;">Mix.Rent</h2>
        <p>Rent at the moment</p>
        <i class="fa fa-arrow-down"></i>
    </div>
</div>

<div class="standard_wide uk-margin-bottom uk-margin-top">

      <div class="uk-margin-bottom">
          Mix.Rent is all transport for rent in one place, a web platform and mobile applications for renting various vehicles in different parts of the world.
The following vehicles categories for rent are available on the platform:<br>
Cars, Electric Vehicles, Trucks, Vans, Motorhomes, Bikes, Snowmobiles, Quadro, Bicycles, Boats, Yachts, Helicopters, Small Aircraft, Special-machines.
      </div>

<h3>Benefit</h3>

<div>
Some users earn on the platform, renting their own transport, others receive rental services at the best prices.<br>
The client is above all and everything is built for the convenience of the client on the platform: gradation in place, type of transport, at a price.<br>
Unique market offers. Possibility to get a discount for long-term rent.<br>
To the vehicles owners is fast and accurate preliminary estimate of earnings.<br>
Possibility to promote your vehicle in the system. Ability to verify the tenant.<br>
Possibility to lease both one vehicle unit and a whole park. <br>
Free placement and recommended prices.
</div>

<h3>Positioning</h3>
<div>
Mix.Rent aims to become a global platform for rental vehicles.<br>
Providing vehicles huge choice, reasonable prices, helping clients to move comfortably on any transport anywhere in the world. Do you want to rent a cabriolet in Monaco, or ride a buggy on the Seychelles, book a limousine in Moscow or rent a yacht in Cancun, take a van for moving to Minsk? Then you are our client.
</div>

<h3>Development Concept </h3>
<div>
Mix.Rent is represented in Russia, being launched in the US and Thailand at the moment.
In Russia, 6,100 vehicle units have already been offered for rent in 200 cities. Every day clients turn to the vehicle owners and rent it.
In February 2018, we plan to enter the 10 largest cities in the US, having 3000 positions of different vehicles at the start. The goal is to present 8000 positions in the USA, in 20 cities by March.
It is planned to implement the blockchain into the platform and to enter the ICO in 2018. Investment funds are needed for the marketing activities implementation in the following countries: India, China, USA, Canada, Brazil, Japan, Russia, England, Switzerland, Germany, Argentina, Spain, Italy, Australia, Vietnam, Greece, Cyprus, Croatia, Montenegro, Mexico, Arab Emirates, Malaysia, Israel and North Korea
The collected funds planned amount is $ 55,000,000. The collected funds will go to the project development, monetization, and an office opening in the USA
At the end of 2018 - the launch of mobile applications and API, our widgets for sites of related industries: tourism, ticket booking, rental housing.
</div>

<h3>Project monetization </h3>
<div>
At the moment, Mix.Rent does not take commission from transactions on the platform. We plan to take a small commission from each rent since the summer of 2018. In some vehicle categories – no more than 5. Advertising functions for owners have been implemented in the form of their vehicle promoting.
</div>

<h3>Mission</h3>
<div>
While uniting the owners: rental companies, private owners, offering vehicle  rental services at the regional, national and international levels, using modern technologies and introducing the sharing economy, we create a new market with the ability to communicate, earnings and positive emotions from comfortable overcoming distances.
</div>



    </div>

{% endblock %}