{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="standard_wide uk-margin-bottom">
        <br/>
        <p>Privacy Policy<br/>
            Participants, status and acceptance of the privacy policy<br/>
            We know that you are anxious about your personal data and how these data are going to be used, so we want to assure you that Mix. Rent treats your personal data carefully. This Privacy Policy (hereinafter referred to as Privacy Policy) describes how to collect, store, use, delete and manage personal data and anonymous data (hereinafter referred to as &quot;information&quot;), which you provide to us or we collect in connection with you being a user of the ICO website Mix. Rent, available at http://ico.mix.rent/(hereinafter referred to as &quot;the Site&quot;), as well as services, mobile applications, products and content.</p>
        <p>By using the Site you accept Privacy Policy and agree that your personal data, including personal information will be processed. If you do not accept the terms of Privacy Policy, you must stop using http://ico.mix.rent. This Privacy Policy applies to the ICO website of the Mix.Rent project. The Site does not control and is not responsible for any websites of third parties which you can open following the links available on the ICO website of the Mix.Rent project.</p>
        <p>Definitions<br/>
            Privacy Policy uses the following terms:<br/>
            &quot;Personal Data&quot; is any information related to an identified or to-beidentified individual (data subject)according to which this individual is possible to be directly or indirectly identified. Such information includes name, location data, online identifier or one or more factors that characterize this individual&#39;s physical, physiological, genetic, mental, economical, cultural or social identity.</p>
        <p>&quot;Processing of personal data&quot; means any action (operation) or set of actions (operations) performed with the use of automation or without the use of such<br/>
            means with personal data, including collection, recording, systematization, accumulation, storage, refinement (updating, modification), extraction, use, transfer (distribution, granting, access), depersonalization, blocking, deletion, destruction of personal data.</p>
        <p>&quot;Confidentiality of personal data&quot; is a mandatory requirement for an Operator or any other person who has access to personal information to prevent their distribution without the consent of the subject of personal data or the presence of other legal base.</p>
        <p>&quot;The ICO website of the Mix.Rent project&quot; is a set of related Web pages, placed on the Internet under a unique address (URL): http://ico.mix.rent/, as well as its subdomains.</p>
        <p>&quot;Cookies&quot; is a small piece of data sent by a Web server and stored on a user&#39;s computer, which the Web client or Web browser sends to the Web server each time in an HTTP request when it tries to open the corresponding site page.</p>
        <p>&quot;IP Address&quot; is a unique address that identifies a device on the Internet or a local network and allows the system to recognize other systems connected via the Internet Protocol.</p>
        <p>Any personal data provided by the ICO website of the Mix.Rent project is controlled by Mixrent LP (hereinafter referred to as &quot;Mix. Rent&quot;). Privacy Policy refers to the personal data collected by Mix.Rent in connection with the services we offer.</p>
        <p>This Privacy policy also covers the marketing content of the Mix.Rent project, including service offerings and advertisements about the services we (or the service provider acting on our behalf) send to you via thirdparty sites, platforms, and applications based on information about your use of the sites. These third-party sites generally use their own privacy policies and terms of use. We kindly ask you to study these documents before you start using these sites.</p>
        <p>You are not obligated to provide Mix.Rent with the personal data that we request, but if you refuse to provide them, we may not be able to provide you with our services, as well as provide high-quality service or respond to your questions.</p>
        <p>Personal data<br/>
            For the purposes that will be mentioned further in this Privacy Policy, we may process and/or collect the following information that may be used to identify you as a person (hereinafter referred to as &quot;Personal data&quot;):<br/>
            - Surname, first name, patronymic;<br/>
            - Contact phone number;<br/>
            - E-mail address<br/>
            - Place of residence (if necessary)<br/>
            - Delivery address (if necessary)<br/>
            - Photo (if necessary)<br/>
            - Credit card details (if necessary).</p>
        <p>Your personal data, which are inaccurate, are subject to removal or correction upon your request.</p>
        <p>Anonymous data are collected automatically<br/>
            We collect non-personally identifiable information which, separately or in combination with similar information, may not be used for your identification (hereinafter referred to as &quot;Anonymous data&quot;) from your personal computer, mobile device or browser when using Site as a registered user. The Site automatically collects usage information, for example: IP Address; type of device used; browser type, version and language; type and version of the operating system; activity on the Site; number and frequency of the Site visitors. We may collect anonymous data or use third-party services such as web Analytics services. These anonymous data are not related to personal data.</p>
        <p>Tracking Technologies we use<br/>
            We use cookies and tracking technologies to receive personal information whenever you open our Web site, advertisements and other content that is provided to you by Mix.Rent or on its behalf on other sites . In addition, the collection of your personal data is made whenever you search, purchase services, publish messages, participate in contests, fill out questionnaires or communicate with employees of our customer service. In particular, we collect personal data of the following types: IP address, Device ID, location information, computer and connection information (such as browser type and version, time zone settings, browser plug-in types and versions, operating system, and purchase history) that Mix. Rent sometimes combines with other similar information received from other consumers. When you view the Mix. Rent site, we may also use software tools to measure and collect information about your access session, including page response times, download errors, duration of individual page visits, information about<br/>
            Interactions with pages, as well as navigation from one page to another. In addition, we may collect technical information that helps identify your<br/>
            device in order to prevent fraud and for troubleshooting.</p>
        <p>How we protect your personal information<br/>
            We take the protection of your personal data as seriously as possible. We make every effort to protect your personal information from misuse, interference, loss, unauthorized access, alteration and disclosure.</p>
        <p>The measures we take include appropriate access controls, latest information security tools to protect the IT environment we use, and the encryption and<br/>
            anonymization of personal data whenever possible.</p>
        <p>Access to your personal data is permitted only to those employees and agents to whom this access is required in connection with the performance of official duties. The processing of these data by third parties is governed by strict contractual obligations to ensure confidentiality.</p>
        <p>How long we store information<br/>
            We will store your information as long as you are a user of the Site, and thereafter no more than reasonably necessary for the purposes of filing the reporting in accordance with the requirements of the legislation.</p>
        <p>We will actively analyze the stored personal data and ensure that it is safely deleted, and in some cases anonymize these data when there is no legal need to store it.</p>
        <p>Purpose of personal information collection<br/>
            The Mix.Rent project can use Personal Data for:<br/>
            - your identification when you sign up at the ICO Mix project website for further authorization, ordering, handling and other actions;<br/>
            - providing you with access to the ICO website data of the Mix.Rent project;<br/>
            - providing you with feedback, including the dispatch of notifications;<br/>
            - requests regarding the use of the Mix.Rent ICO website, provision of services and processing of requests and applications;<br/>
            - for ensuring security and preventing fraud;<br/>
            - confirmation of the validity and completeness of the personal data provided;<br/>
            - creating an account to use parts of the Mix.Rent ICO website, if you have agreed to create an account;<br/>
            - Email notifications;<br/>
            - Providing effective technical support in case of problems related to the use of the Mix.Rent ICO website;<br/>
            - providing you, with your consent, with special offers, price information, newsletters and other information on behalf of the Mix.Rent ICO Site.<br/>
            - carrying out advertising activities with your consent.</p>
        <p>Your rights related to your personal data and its processing<br/>
            - The right to receive information. You have the right to receive clear, transparent and easy-to-understand information about how we use your personal information. We therefore provide you with relevant information in this Privacy Policy<br/>
            - The right of access and modification. You have the right to access, modify, and update your personal information at any time. We understand the importance of this issue. If you want to exercise your right, please contact us.<br/>
            - The right to transfer data. The personal data provided to us is portable.</p>
        <p>This means that in certain circumstances they can be transferred, copied or transmitted electronically.</p>
        <p>- The right to be forgotten. Under certain circumstances, you have the right to request that we delete all of your data. If you choose to delete all personal data we hold, please notify us. We will take appropriate action to respond to your request in accordance with local law requirements. If the collected personal data is no longer required by us for any purposes and the law does not obligate us to store this data, we will do everything in our power to remove this data, destroy them or make them unfit for identification.</p>
        <p>- The right to restrict processing. In certain circumstances, you have the right to limit the processing of your personal data.</p>
        <p>The right to object. In certain circumstances, you have the right to object to certain types of data processing, including processing for direct marketing purposes (for example, receiving electronic communications from us or requests related to various potential opportunities).</p>
        <p>- The right to file a complaint with a supervisory authority. You have the right to send a complaint relating to our processing of your personal data directly to any local office of the supervisory authority.</p>
        <p>- The right to withdraw consent. If you have consented to us to carry out any transactions with your personal data (i.e. we use your consent as a legal basis for the processing of your personal data), you have the right to withdraw your consent at any time (but If you do so, it will not mean the illegality of any of our transactions with your personal data made on the basis of your earlier consent). You may revoke your consent to the processing of your personal data at any time by contacting us.</p>
        <p>Your consent<br/>
            You expressly agree to our processing, collection, transfer, storage, disclosure and other uses of your information as described in this Privacy Policy in the event that you provide us with information through the Site and/or accept this Policy. In addition, through this use and interaction with the Site, you specifically agree to:<br/>
            - our collection of information by automated means and our subsequent processing and use of information in accordance with this Privacy Policy.</p>
        <p>- storage and transfer of information to places we and our service providers have.</p>
        <p>- disclosure<br/>
            We may disclose information about your use of the Site:<br/>
            - when we believe in good faith that such disclosure is appropriate under applicable law, litigation or a government request.</p>
        <p>- to enforce this Privacy Policy and/or any agreement between you and us.</p>
        <p>- in case of detection, prevention or other elimination of fraud, security or technical problems.</p>
        <p>- to protect against abusive or illegal use of the Site.</p>
        <p>- to protect the rights, security or property of other users or any third parties.</p>
        <p>- to respond to an emergency or a situation.</p>
        <p>- to protect the rights, property, personal safety and information security of third parties, visitors of the Mix.Rent ICO Site and the public at large.</p>
        <p>- in other cases described in this Privacy Policy.</p>
        <p>Who we share personal data with<br/>
            We agree that personal data may only be disclosed for the reasons specified in this Privacy Policy. We will not transfer personal data provided by you to third parties except contract service providers who assist in our business operations, such as marketing automation providers, information management and analytics services.</p>
        <p>Our Site contains links to various social networks, and until you follow the links your information is not transmitted to providers. Once you click on one of the social buttons, you will go to the site of the social network provider. We have no influence on these companies, you can read the links below to learn more about their private policy:<br/>
            Facebook: Https://www.facebook.com/about/privacy<br/>
            Twitter: Https://twitter.com/en/privacy<br/>
            Instagram: https://help.instagram.com/155833707900388<br/>
            Google: Https://policies.google.com/privacy<br/>
            How we update our Privacy Policy<br/>
            We will update this Privacy Policy when it is necessary to reflect the customer&#39;s feedback and changes made to our services.</p>
        <p>Your notices and appeals<br/>
            Please study our privacy practices. If you have any questions, send us an email: mail@mix.rent.</p>
        <p>Having received a question related to confidentiality or request for access, we pass it on to specialists who take on interaction with all interested parties, trying to solve the problem and answer the questions. If your problem proves to be significant, we may ask you for additional information.</p>
        <p>We respond to all inquiries related to significant issues. If you are unhappy with the answer you received, you can send a complaint to the appropriate supervisory authority in your country. After receiving your request, we will do our best to provide you with information about the possible ways of submitting a complaint that may be useful in your circumstances.</p>
        <p>See the current Privacy Policy at http://mix.rent/privacypolicy<br/>
            Updated: 2018-06-15</p>
        <br/>
    </div>
{% endblock %}