{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="standard_wide uk-margin-bottom">
        <br/>
        <h1>Terms of Service</h1>
        <h2>1. ACCEPTING THESE TERMS</h2>
        <p>1.1 These Terms constitute a legally binding agreement between you and&nbsp;Mix Rent LP trading as Mix Rent, &quot;we&quot;, &quot;us&quot; or &quot;Mix Rent &quot; hereafter) in relation to our provision of the Mix Rent Service to you. Capitalised terms which are defined in either the Renter&#39; Rules or vehicle Owners&#39; Rules and not defined in these Terms shall have the same meaning as set out in the relevant rules.</p>
        <p>1.2&nbsp;Mix Rent LP is a Ireland Corporation.</p>
        <p>1.3 When you register for a Mix Rent account (including when you register through a third party application or service) or otherwise access or use the Mix Rent Service including for the purposes of posting an ad; you are accepting these Terms</p>
        <p>1.4 When you agree to the Terms you agree that:</p>
        <p>1.4.1 when using the Mix Rent Service as a Renter, you promise to us that you will comply with the Renters&#39; Rules; and</p>
        <p>1.4.2 when using the Mix Rent Service as a Owner, you promise to us that you will comply with the Owners&#39; Rules;</p>
        <p>1.5 For any help with using the Mix Rent Service please see the Mix Rent Contacts (<a href="https://mix.rent/contacts">https://mix.rent/contacts</a>)</p>
        <h2>2. IMPORTANT NOTICES: NATURE OF THE MIX RENT SERVICE</h2>
        <p>2.1 Mix Rent&#39;s role as an intermediary only</p>
        <p>2.1.1 Mix Rent makes available to you an online platform (the &quot;Mix Rent Service&quot;) through which Owners may make available certain vehicle for rental by Renter upon approval by the parties.</p>
        <p>2.1.2 You understand that Mix Rent is acting as an intermediary only in respect of any transactions entered into between Owners and Renters for the rental of items through the Mix Rent Service. Any agreement for the rental of any items through the Mix Rent Service is between the relevant Owner and Renter.</p>
        <p>2.1.3 While Mix Rent endeavours to provide the Mix Rent Service for the mutual benefit of both Owners and Renters and has drawn up rules with that as its aim, Mix Rent cannot be held responsible for, and, to the maximum extent permitted by law, excludes liability for, the conduct of users of the Mix Rent Service.</p>
        <p>2.1.4 You acknowledge that in its capacity as an operator of the Mix Rent Service and an intermediary in any transactions carried out through the Mix Rent Service, Mix Rent has the discretion to cancel any listing posted by an Owner, any request to rent a vehicle submitted by a Renter, or any transaction, upon the provision of written notice to the parties involved, if it reasonably believes such listing, request or transaction does not comply with these Terms, the Renters&#39; Rules or the Owners&#39; Rules.</p>
        <p>2.2 Using the Mix Rent Service as an Owner</p>
        <p>2.2.1 When you agree as an Owner to lend a vehicle to a Renter, you acknowledge that you are entering into a separate contract with the Renter and that such contract with the Renter includes a promise by you to comply with the Owners&#39; Rules and these Terms.</p>
        <p>2.2.2 You also acknowledge that the Renter is in no way acting under the control, or on behalf of Mix Rent, that your agreement to lend any vehicle to the Renter is solely with the Renter, and you agree not to make any claim or assertion that Mix Rent is in any way liable or responsible for any loss or liability suffered by you in relation to any act or omission by the Renter.</p>
        <p>2.2.3 You agree that you are solely responsible for your compliance with the Owners&#39; Rules, fully liable for any non-compliance with the Owners&#39; Rules and any compensation due to the Renter in respect of any such non-compliance, including ensuring that the item offered for rental matches the description in your listing. You further acknowledge that Mix Rent does not have: (i) any responsibility for your compliance with the Owner&#39;s Rules; (ii) any obligation to underwrite any liability you may have for non-compliance, or (iii) any obligation to compensate the Renter for any breach of your agreement with the Renter in any way.</p>
        <p>2.3 Using the Mix Rent Service as a Renter</p>
        <p>2.3.1 When you agree as a Renter to rent a vehicle from an Owner, you acknowledge that you are entering into a separate contract with the Owner and that such contract with the Owner includes a promise by you to comply with the Renters&#39; Rules and these Terms.</p>
        <p>2.3.2 You also acknowledge that the Owner is in no way acting under the control, or on behalf of Mix Rent, that your agreement to rent any vehicle from the Owner is solely with the Owner, and you agree not to make any claim or assertion that Mix Rent is in any way liable or responsible for any loss or liability suffered by you in relation to any act or omission by the Owner.</p>
        <p>2.3.3 You agree that you are solely responsible for your compliance with the Renters&#39; Rules, fully liable for any non-compliance with the Renters&#39; Rules and any compensation due to the Owner in respect of any such non-compliance, including the loss or damage to the vehicle which you have rent. You further acknowledge that Mix Rent does not have: (i) any responsibility for your compliance with the Renters&#39; Rules; (ii) any obligation to underwrite any liability you may have for non-compliance, or (iii) any obligation to compensate the Owner for any breach of your agreement with the Owner in any way.</p>
        <h2>3. CHANGES TO THE MIX RENT SERVICE AND CHANGE OF TERMS</h2>
        <p>3.1 Mix Rent reserves the right to alter the Mix Rent Service at any time, including adding, removing or changing features (which may advantage or disadvantage you). Mix Rent will give you reasonable notice of any material changes to the Mix Rent Service.</p>
        <p>3.2 We may need to change these Terms for legal or business reasons, and we will give you notice by posting such changes on the [information pages of the Mix Rent Service]. If we intend to make any material changes, we will notify you of these changes by email with reasonable prior notice.</p>
        <p>3.3 If Mix Rent changes the Mix Rent Service or the Terms to your detriment, you can end your use of the Mix Rent Service at any time. Please see section 11 for more details on ending your use of the Mix Rent Service.</p>
        <h2>4. USING THE MIX RENT SERVICE</h2>
        <p>4.1 You need to create an account to accept these Terms. To create an account you confirm that:</p>
        <p>4.1.1 you are over 17;</p>
        <p>4.1.2 all information and details provided by you to us (including on registration) are true, accurate and up to date in all respects and at all times. You can update or correct your personal details at any time by contacting us at any time. If you do not comply with this clause you will be fined up to&nbsp;$100 per piece of false information provided;</p>
        <p>4.1.3 you will comply with the restrictions on your use of the Mix Rent Service as set out in these Terms; and</p>
        <p>4.1.4 in relation to any material submitted to or posted to the Mix Rent Service by you that you have the right to do so and have obtained all necessary licences and or approvals.</p>
        <p>4.2 As a condition of your use of the Mix Rent Service, you agree that you will not:</p>
        <p>4.2.1 breach any applicable laws;</p>
        <p>4.2.2 breach any of the Terms;</p>
        <p>4.2.3 breach the Owners&#39; Rules, when acting as an Owner;</p>
        <p>4.2.4 breach the Renters&#39; Rules, when acting as a Renter;</p>
        <p>4.2.5 post any threatening, abusive, defamatory, obscene, inappropriate or indecent material;</p>
        <p>4.2.6 post or otherwise communicate any false or misleading material or message of any kind;</p>
        <p>4.2.7 use the Mix Rent Service to intentionally deceive other users;</p>
        <p>4.2.8 infringe the rights of any third-party;</p>
        <p>4.2.9 disassemble, decompile, reverse-engineer or create derivative works based on the whole or any part of the Mix Rent Service;</p>
        <p>4.2.10 distribute spam, chain letters, or promote pyramid schemes;</p>
        <p>4.2.11 distribute any viruses or any other technologies that may harm Mix Rent or the interests or property of Mix Rent users;</p>
        <p>4.2.12 impose or contribute to imposing an unreasonable load on our infrastructure or interfere with the proper working of Mix Rent;</p>
        <p>4.2.13 copy, modify, or distribute any other person&rsquo;s content without their consent;</p>
        <p>4.2.14 use any robot, spider, scraper or other automated means to access Mix Rent and/or collect content for any purpose without our express written permission;</p>
        <p>4.2.15 harvest or otherwise collect information about other users, including email addresses, without their consent;</p>
        <p>4.2.16 copy, modify or distribute rights or content from the Mix Rent Service, services, applications or tools or Mix Rent&rsquo;s copyrights and trademarks;</p>
        <p>4.2.17 bypass security measures used to prevent or restrict access to Mix Rent; or</p>
        <p>4.2.18 sell any counterfeit items or otherwise infringe the copyright, trademark or other rights of third parties.</p>
        <p>4.3 You agree to compensate and defend Mix Rent against any claims or legal proceedings brought against Mix Rent by any other person as a result of your breach of these Terms.</p>
        <p>4.4 Your account is personal to you and may not be transferred to or shared with others. You are responsible for keeping your account and login details secure and are responsible for all activities that are carried out under them. You should choose a strong, unique password, which you do not disclose to anyone else or use with any other service. Mix Rent will not be responsible for any losses suffered by you in circumstances where your account is used by someone else, unless this is caused by Mix Rent&#39;s negligence.</p>
        <h2>5. RIGHTS IN THE MIX RENT SERVICE</h2>
        <p>5.1 In consideration of you complying with the Terms, Mix Rent grants you a revocable, non-transferable and non-exclusive license to access and use the Mix Rent Service.</p>
        <p>5.2 You acknowledge that your use of the Mix Rent Service grants you no rights in or to the Mix Rent Service or any of the intellectual property rights (including any copyright, trade mark or patents) owned by Mix Rent or its licensors, other than the right to use the Mix Rent Service in accordance with the Terms.</p>
        <p>5.3 You agree not to copy, reproduce, republish, download, post, broadcast, record, transmit, commercially exploit, edit, communicate to the public or distribute in any way the services, web pages or materials on the Mix Rent Service or the computer codes of elements comprising the Mix Rent Service other than for your own personal use. Subject to the above, you may download insubstantial excerpts of this content to your hard disk for the purpose of viewing it provided that no more than one copy of any information is made.</p>
        <h2>6. CONTENT POSTED ON THE MIX RENT SERVICE</h2>
        <p>6.1 Your responsibility</p>
        <p>6.1.1 You understand that you are solely responsible for any content that you post or otherwise submit to the Mix Rent Service (&quot;Your Content&quot;). You represent that you have all necessary rights to Your Content and that publication of Your Content through the Mix Rent Service will not infringe the rights (including intellectual property rights) of any third party. You agree to compensate Mix Rent for any losses that Mix Rent suffers as a result of any breach by you of any of the promises made by you in these Terms.</p>
        <p>6.1.2 You acknowledge that Mix Rent does not monitor or moderate Your Content. If Mix Rent becomes aware that any of Your Content does not, in our reasonable opinion, comply with the Terms, you acknowledge that Mix Rent may remove it, without liability. Although Mix Rent has rules for the posting and uploading of Your Content, the features of the Mix Rent Service may be misused and sometimes Your Content can still be posted that is misleading or deceptive. You should not therefore rely on any other user&#39;s content (&quot;User Content&quot;) being accurate or complete. You accept that if you do rely on any User Content which has been posted or uploaded, you do so at your own risk.</p>
        <p>6.2 Permission to use Your Content</p>
        <p>6.2.1 When you post Your Content, you grant us and represent that you have the right to grant us, a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, transferable, sub-licensable right to exercise any and all copyright, publicity, trademarks, design, database and intellectual property rights to that content, in any media whether now known or to be discovered in the future and on all other sites, services, applications and tools. In addition, you waive your right to be identified as the author of Your Content, to the fullest extent permitted by law.</p>
        <p>6.3 Mix Rent&#39;s use of third party information</p>
        <p>6.3.1 We may at times use third party data suppliers to provide additional content (including descriptions, product specifications and other content) (&quot;Third Party Material&quot;) to supplement Your Content. You may use such information solely in connection with Your Content during the time Your Content is displayed on the Mix Rent Service (such permissions for use, being &quot;Third Party Permissions&quot;). Third Party Material may be subject to copyright, trademark and/or other protections. You agree not to remove any such protected information and/or create any derivative works based on the content of such Third Party Material (other than by including such Third Party Material in your listings). This permission is subject to modification or revocation at any time at our sole discretion, and we shall post on the Mix Rent Service, any such modifications or revocations in respect of any Third Party Permissions.</p>
        <p>6.4 Continuing obligations</p>
        <p>6.4.1 You may not have the opportunity to review all of the Third Party Material before posting Your Content. We are not responsible for the accuracy of such Third Party Material. If you notice inaccuracies in this Third Party Material after Your Content appears on the on the Mix Rent Service please contact us at the following link:&nbsp;<a href="https://mix.rent/contacts">https://mix.rent/contacts</a>
        </p>
        <p>6.5 Reporting abusive, threatening, or infringing content</p>
        <p>6.5.1 If any of the content posted or submitted to the Mix Rent Service by another user makes you feel threatened, or abused, or if you believe any such is offensive or otherwise breaches the Terms, please contact Mix Rent through the following link:&nbsp;<a href="https://mix.rent/contacts">https://mix.rent/contacts</a>
        </p>
        <p>6.6 Rights of Mix Rent to remove content from the Mix Rent Service</p>
        <p>6.6.1 Without limiting any other remedies, Mix Rent may, without notice or delay: (i) immediately remove (or instruct you to remove) content from the Mix Rent Service; (ii) temporarily or indefinitely prevent you from adding further content to the Mix Rent Service; (iii) cancel a request to borrow or an offer to lend a particular item; (iv) prohibit your access to the Mix Rent Service permanently or temporarily, if Mix Rent reasonably believes that:</p>
        <p>6.6.1 you have breached any of these Terms;</p>
        <p>6.6.2 you are acting inconsistently with the spirit of the Mix Rent Service or our policies (including, without limitation, circumventing temporary or permanent suspensions or harassing the Mix Rent employees or other users);</p>
        <p>6.6.3 you have engaged in improper or fraudulent activity, or your actions may cause legal liability or financial loss to Mix Rent or users of the Mix Rent Service;</p>
        <p>6.6.4 items are listed against incorrect or inaccurate content;</p>
        <p>6.6.5 you have been undertaking Fee Avoidance; or</p>
        <p>6.6.6 it is required to do so by applicable law or to protect the interest of the other users of the Mix Rent Service.</p>
        <h2>7. FEES AND COMMISSION</h2>
        <p>7.1 On each occasion that a transaction between a Renter and Owner for the rental of an item made available through the Mix Rent Service:</p>
        <p>7.1.1 as an Owner, you agree to pay to Mix Rent a commission of 15% of the Rental Fee (&quot;Owner Commission&quot;); and</p>
        <p>7.1.2 as a Renter, you agree to pay to Mix Rent a commission of 15% of the Rental Fee (&quot;Renter Commission&quot;), (together, the &quot; Mix Rent Commission&quot;).</p>
        <p>7.2 If, as a Renter, you submit a request to borrow a particular item and that request is approved by the Owner, you will be charged the full Rental Fee PLUS the Renter Commission. The &quot;Rental Fee&quot; means the daily rate you have agreed to pay to rent the item multiplied by the number of days that you have agreed to rent the item.</p>
        <p>7.3 As an Owner, you will receive the Owner Fee due to you 24 hours after the scheduled start of the rental. The &ldquo;Owner Fee&rdquo; means the Rental Fee LESS the Owner Commission.</p>
        <p>7.4 Payments made through the Mix Rent Service are processed by Mandarinpay</p>
        <p>. You can read their full terms and conditions&nbsp;<a href="http://www.mandarinpay.com/">here</a>.</p>
        <p>7.5 You acknowledge that you are solely responsible for payment of applicable taxes (if any) owed by you pursuant to your use of the Mix Rent Service.</p>
        <p>7.6 Our fees are payable in&nbsp;United States Dollars, and we may change them from time to time. We&rsquo;ll notify you of changes to our fee policy by posting such changes on the Mix Rent Service and will also send an email to the address registered to your account. We may also choose to temporarily change our fees for promotional events or new services; these changes are effective when we announce the promotional event or new service. We shall give prior notice of these promotional events and new services by posting details on the Mix Rent Service and will also send an email to the address registered to your account.</p>
        <p>7.7 You also agree that where you have contacted a particular user through the Mix Rent Service, you shall not complete that transaction or any others otherwise than using the Mix Rent Service, or engage in any other practice which may avoid or lower the amount of Mix Rent Commission that would otherwise have been payable had the transaction been completed using the Mix Rent Service (&quot;Fee Avoidance&quot;). In the event of engagement by any user(s) in any Fee Avoidance, such user(s) shall indemnify and hold harmless Mix Rent in respect of any losses suffered by Mix Rent as a result of such Fee Avoidance. Or in the event that you attempt to engage a user you met through the Mix Rent service in a rental or transaction that does not use the Mix Rent service, you are liable to pay a fine of up to&nbsp;$200 as a penalty for doing so, regardless of whether your attempts are successful or not.</p>
        <h2>8. CANCELLATION OF LISTINGS AND TRANSACTIONS</h2>
        <p>8.1 If you, as Renter, request to rent a vehicle, you may subsequently cancel your request to rent that vehicle, without any charge or liability by notifying Mix Rent, provided such cancellation is effected:</p>
        <p>8.1.1 at any time prior to that request being accepted by the Owner; or</p>
        <p>8.1.2 subject to section 8.2 below, within 48 hours of submitting that request.</p>
        <p>8.1.3 If you have prepaid any amounts in consideration for any transaction which you cancel within the terms of section 8.1, you will be entitled to a refund of such fees.</p>
        <p>8.2 Notwithstanding section 8.1 above, if you, as a Renter, cancel a request (which has been approved by the Owner) you shall not receive a refund of the amounts otherwise charged (including both Rental Fee and Renter Commission).</p>
        <p>8.3 If you, as Owner, list an item for rental, you may subsequently cancel your listing of that item for rental, without any charge or liability:</p>
        <p>8.3.1 at any time prior to approving a request from a Renter to rent a vehicle; or</p>
        <p>8.3.2 subject to section 8.4 below, within 48 hours of approving a request to rent a vehicle by the Owner.</p>
        <p>8.4 Notwithstanding section 8.3 above, if you, as an Owner, cancel the listing of an item (in respect of which, you have accepted a request from any Renter torent) for rental, or cancel any acceptance of a request from a Renter to rent a vehicle within the 48 hour period immediately prior to the scheduled start of the rental period for that item, you shall be liable to pay a cancellation charge to Mix Rent, which is calculated as an amount equal to 30% of the Rental Fee.</p>
        <p>8.5 In the event that the Owner pays a cancellation charge to Mix Rent in respect of a particular cancelled transaction, Mix Rent may credit the account of the Renter, as appropriate) an apportionment of any cancellation fee received, where Mix Rent, at its sole discretion, deems this appropriate.</p>
        <p>8.6 If Mix Rent believes that you intend to cause harm to any vehicles you rent through the platform, or believe you are renting with intent to steal; we reserve the right to cancel your rental immediately and without warning, and charge you an appropriate sum. This sum will up to but not more than the total value of the items in question. It is at Mix Rent&rsquo;s discretion to determine what is an appropriate sum in each instance.</p>
        <h2>9. YOUR LIABILITY</h2>
        <p>9.1 Nothing in these Terms shall limit your liability for fraudulent misrepresentation, or for death or personal injury resulting from your negligence.</p>
        <p>9.2 As an Owner, when listing an item for rental through the Mix Rent Service, you must give true and accurate details of the condition of the vehicle and detail what is included or noticeably absent.</p>
        <p>9.3 As a Renter, by requesting to rent a vehicle through our Services, you are responsible for having sufficient funds available to replace the vehicle should you lose or damage the item. If you do not know how much the vehicle is worth, please contact a member of the Mix Rent team prior to submitting your request and we will assist you. If you do not have funds available for the approximate value of the vehicle, do not request to rent the vehicle.</p>
        <p>9.4 We have the right to take money up to the Estimated Value of the item from your account without seeking further permission from you, if we reasonably believe you have caused damage to the item, or are unable to return it for any reason within 7 days of the return deadline.</p>
        <p>9.5 You further acknowledge that as a Renter, if you return the item after the Return Deadline (as defined in the Renter&#39;s Rules), we are entitled to charge you up to twice the full Rental Fee and Renter Commission for each additional day that the vehicle is returned after the Return Deadline (for the avoidance of doubt, if the vehicle is returned after the Return Deadline on the scheduled day of return, you shall be charged for a full additional day of rental). You further acknowledge that we may take the funds directly from your account to cover such charges, without seeking further permission from you. The Return Deadline is the time you agreed to return the vehicle with the owner, or 12pm on the rental return date (whichever time is later).</p>
        <p>9.6 In the event of a good faith dispute between the parties in relation to the Estimated Value of a particular item, Mix Rent has the sole discretion to set an appropriate Estimated Value for that item, determined in good faith and taking into account the reasonable representations of the parties.</p>
        <p>9.7 If you refuse to pay for any damage caused, or to pay any amount that you owe to Mix Rent or a Mix Rent user, for any reason, within the timeframe given to you by Mix Rent, we will engage the services of debt collectors who will pursue this debt with you on our behalf. You agree that the charge for their services will be added to the debt they will be collecting from you.</p>
        <h2>10. OUR LIABILITY</h2>
        <p>10.1 Nothing in these Terms shall limit the liability of Mix Rent for fraudulent misrepresentation, or for death or personal injury resulting from its negligence or the negligence of its agents or employees.</p>
        <p>10.2 You have certain rights under the law. These include that we will provide the Mix Rent Service to you with reasonable skill and care. You have certain legal remedies if we breach any of these rights. Nothing in these Terms is intended to affect these legal rights or other rights which you may also be entitled, for example to damages or specific performance. For more information about your legal rights contact&nbsp;a legal professional.</p>
        <p>10.3 Under no circumstances shall Mix Rent be liable or responsible for the acts or omissions of any third party who uses the Mix Rent Service (including any third party with whom you enter into a transaction through the Mix Rent Service). Mix Rent is acting as an intermediary only in respect of any transaction concluded by parties introduced to each other through the Mix Rent Service for the rental of any item listed on the Mix Rent Service and accepts no liability for the performance of either party (i.e. Renter or Owner) in relation to any such transaction.</p>
        <p>10.4 Without prejudice to section 10.3 above, Mix Rent is not responsible for:</p>
        <p>10.4.1 losses not caused by our breach;</p>
        <p>10.4.2 indirect losses which are a side effect of the main loss or damage and which are not reasonably foreseeable by at the time of entering into this agreement, (for example loss of profits or loss of opportunity);</p>
        <p>10.4.3 User Content to the extent that such content is unlawful, threatening, abusive, defamatory, obscene or indecent or otherwise violates or infringes upon the rights of any other person, including, without limitation, any transmissions constituting or encouraging conduct that would constitute a criminal offence, give rise to civil liability or otherwise violate any applicable law; or</p>
        <p>10.4.4 failure to provide the Mix Rent Service or to meet any of our obligations under this agreement where such failure is due to Events Beyond Our Control.</p>
        <p>10.4.5 For the purposes of section 10.4.4, &quot;Events Beyond Our Control&quot; means any cause beyond our reasonable control which prevents us from providing the Service or fulfilling any of our other obligations under this agreement and includes but is not limited to fire, flood, storm, riot, civil disturbance, war, nuclear accident, terrorist activity and acts of God.</p>
        <p>10.5 Other than for breaches of implied statutory terms described in paragraph 10.2 above, Mix Rent&#39;s total liability to you for any loss or damage arising in connection with your use of the Mix Rent Service shall be limited to one hundred&nbsp;United States Dollars&nbsp;($100).</p>
        <p>10.6 You acknowledge that we cannot guarantee continuous, error-free or secure access to the Mix Rent Service or that defects in the Mix Rent Service will be corrected. While we will use reasonable efforts to maintain an uninterrupted service, we cannot guarantee this and we do not give any promises or warranties (whether express or implied) about the operation and availability of the Mix Rent Service.</p>
        <p>10.7 Accordingly, to the extent legally permitted we expressly disclaim all warranties, representations and conditions, express or implied, including those of quality, merchantability, merchantable quality, durability, fitness for a particular purpose and those arising by statute.</p>
        <h2>11. ENDING YOUR USE OF THE MIX RENTSERVICE</h2>
        <p>11.1 You can simply choose to stop using the Mix Rent Service at any time. In addition, you may also contact Mix Rent through the following link:&nbsp;<a href="https://mix.rent/contacts">https://mix.rent/contacts</a>
            and request that we deactivate your account.</p>
        <p>11.3 You acknowledge that your use of the Mix Rent Service is subject to Mix Rent &#39;s discretion and Mix Rent may, in the event of your breach of the Terms, at its sole discretion, withdraw your rights to use the Mix Rent Service on the provision of written notice with immediate effect.</p>
        <h2>12. THIRD PARTY RIGHTS</h2>
        <p>12.1 A person who is not a party to this agreement has no right under the Contracts (Rights of Third Parties) Act 1999 to enforce any term of this agreement but this does not affect any right or remedy of a third party specified in this agreement or which exists or is available apart from that Act.</p>
        <h2>13. PERSONAL INFORMATION</h2>
        <p>13.1 By using Mix Rent Services, you agree to the collection, transfer, storage and use of your personal information by Mix Rent, as further described in our Privacy Policy. Among other things, you agree that Mix Rent may use the personal information that you submit to us: (i) to verify your identity; (ii) for performing anti-money laundering checks; (iii) for conducting &quot;know your customer&quot; (KYC) checks; and (iv) conducting &quot;know your transaction&quot; (KYT) checks.</p>
        <p>13.2 You also agree to receive direct electronic messaging marketing communications from us unless you tell us that you prefer not receive such communications.</p>
        <h2>14. DISPUTES</h2>
        <p>14.1 Disputes between Users</p>
        <p>14.1.1 If you have a dispute with one or more Mix Rent users, you release us (and our officers, directors, agents, and employees) from any and all claims, demands and damages (actual and consequential) of every kind and nature, known or unknown, arising out of or in any way connected with such disputes.</p>
        <p>14.1.2 Notwithstanding section 14.1.1, if a Renter and Owner are unable to resolve a dispute, Mix Rent will use reasonable efforts to mediate in respect of such dispute and, without prejudice to its rights set out under these Terms, may choose to deduct monies up to the estimated value of a particular item from the account of the Renter to compensate the Owner following loss or damage of a particular item that has been rented as part of the transaction. Mix Rent will also charge a fee of 30% of the amount charged on top of any monies collected in order to cover the service of acting as a mediator.</p>
        <p>14.2 Disputes between you and Mix Rent</p>
        <p>14.2.1 If the unlikely event of a dispute arises between you and Mix Rent, we strongly encourage you to first contact us directly to seek a resolution by going to the Mix Rent Contact page. We will consider reasonable requests to resolve the dispute through alternative dispute resolution procedures, such as mediation or arbitration, as alternatives to litigation.</p>
        <p>14.2.2&nbsp;If you wish to take court proceedings against us you must do so within the country where you live, and only the law of that country will apply.</p>
        <h2>15. General</h2>
        <p>15.1 You acknowledge that Mix Rent may transfer its rights under the Terms (and any related claims) to any third party without having to obtain your prior consent.</p>
        <p>15.2 Nothing in the Terms is intended to or shall operate to create an employment, agency, partnership or joint venture of any kind between Mix Rent and any user.</p>
        <p>15.3 If you breach the Terms and Mix Rent takes no action against you, Mix Rent reserves its rights to take action against you at a later date.</p>
        <p>15.4 The Terms constitute all terms agreed upon between you and us and supersede any prior agreements in relation to the Mix Rent Service. You represent that you have not accepted the Terms in reliance on any oral or written representations made by us that are not contained in the Terms.</p>
        <p>15.5 You acknowledge that your right to access and use the Mix Rent Service is also subject to:</p>
        <p>15.5.1 applicable law; and</p>
        <p>15.5.2 any rules or policies applied by the relevant appstore from which you access the Mix Rent Service;</p>
        <p>15.6 If any part of the Terms are disallowed or found to be ineffective by any court or regulator, the other provisions shall continue to apply.</p>
        <p>15.7 Except for notices relating to illegal or infringing content, your notices to us must be sent by registered mail to Mix Rent LP, Office 29, Clifton House, Fitzwilliam Street Lower, Dublin 2, D02 XT91, Republic of Ireland. We will send notices to you via the email address you provide, or by registered mail. Notices sent by registered mail will be deemed received five days following the date of mailing. Notices sent by email will be deemed received the following working day after they were sent.</p>
        <h1>RENTER&#39;S RULES</h1>
        <p>You should read these rules carefully before using the Mix Rent Service to rent a vehicle (and therefore become a &quot;Renter&quot;). By using the Mix Rent Service as a Renter, you are agreeing to these rules (the &quot;Renters&#39; Rules&quot;) as well as the Terms.</p>
        <h2>1. MIX RENT&#39;S ROLE</h2>
        <p>1.1 Mix Rent is a platform for Renters to find vehicles to rent from those who wish to lend them (&quot;Owners&quot;). The Mix Rent Service enables Renters to enter into transactions with Owners to rent these vehicles (the &quot;Transaction&quot;). Mix Rent is not a party to this Transaction or in any way responsible for the acts or omissions of either the Owner or Renters in relation to the Transaction.</p>
        <p>1.2 By signing up to the Mix Rent Service you are acknowledging that:</p>
        <p>1.2.1 you are not renting from Mix Rent but from another user of the Mix Rent Service, who has signed up as an Owner; and</p>
        <p>1.2.2 Mix Rent does not guarantee or endorse any items rented through the Mix Rent Service or any content posted by Owners (such as photographs, language, description used in listings).</p>
        <h2>2. COMMUNICATING WITH OWNERS</h2>
        <p>2.1 You can communicate directly with Owners on the Mix Rent Service by using the &quot;Message User&quot; feature. This is a good way to find out more information about the vehicle you are looking to rent. However, you may not use this feature for the following:</p>
        <p>2.1.1 sending unsolicited advertising or promotions, requests for donations or spam;</p>
        <p>2.1.2 contacting someone after they have requested you not to;</p>
        <p>2.1.3 harassing or abusing another user; or</p>
        <p>2.1.4 forming an agreement outside the Mix Rent Service for the purpose of Fee Avoidance.</p>
        <h2>3. RENTING A VEHICLE</h2>
        <p>3.1 By requesting to rent a vehicle you agree and warrant that you:</p>
        <p>3.1.1 have read and accepted the item description and the Terms before making a request to rent a vehicle; and</p>
        <p>3.1.2 have the funds available to (i) cover the required payments to rent the vehicle and the Mix Rent Commission, and (ii) pay the full estimated value of the vehicle in the case of loss or damage. The estimated value is defined as a reasonable estimate determined by the owner unless the renter disagrees in which case Mix Rent will determine the estimated value as per clause 9.6;</p>
        <p>3.1.3 accept liability for the full Estimated Value of the vehicle in case of loss or damage; and</p>
        <p>3.1.4 will not engage in Fee Avoidance.</p>
        <p>3.2 When renting a vehicle, you agree that you will return the vehicle to the Owner before 12pm (noon) on the scheduled date of return (the &quot;Return Deadline&quot;).</p>
        <p>3.3 If you would like to extend the period for which you rent a vehicle , you may submit an additional request to extend this period, for acceptance by the Owner, through the Mix Rent Service.</p>
        <p>3.4 If you have failed to extend the rental period for a particular item through the Mix Rent Service and, consequently, return the item after the Return Deadline, you acknowledge that Mix Rent may charge you as set out in the &lsquo;Your Liability&rsquo; section of the Terms [section 9].</p>
        <h2>4. LIABILITY</h2>
        <p>4.1 As a Renter, by requesting to rent a vehicle through the Mix Rent Service, you are agreeing to that Estimated Value assigned by the Owner. If you do not agree with this Estimated Value, do not request to rent a vehicle. If you do agree to this Estimated Value, you are agreeing to be liable for up to the full Estimated Value of that vehicle, in the case of loss or damage while you are renting this vehicle.</p>
        <p>4.2 We have the right to take money up to the Estimated Value of the vehicle from your account without seeking further permission from you, if we reasonably believe you have caused damage to the vehicle, or not returned it during 7 days.</p>
        <h2>5. LEAVING A REVIEW</h2>
        <p>5.1 When you have a rented a vehicle using the Mix Rent Service, Mix Rent encourages you to leave a review, as it helps Owners build a good reputation, or warn other users about a poor experience.</p>
        <p>5.2 You can leave a review by choosing a one to five star rating.</p>
        <p>5.3 By leaving a review you acknowledge that:</p>
        <p>5.3.1 your review and profile information will be publicly displayed on the Owner&#39;s listing and review pages;</p>
        <p>5.3.2 your review will not contain:</p>
        <p>5.3.2.1 private information;</p>
        <p>5.3.2.2 obscene, racist or harassing language or imagery;</p>
        <p>5.3.2.3 advertising or spam; or</p>
        <p>5.3.2.4 content that will undermine the integrity of the review system of Mix Rent; and</p>
        <p>5.3.3 any attempt to manipulate reviews through threats, intimidation or bribery is considered extortion and is strictly prohibited on Mix Rent.</p>
        <p>5.4 Similarly, you accept that a Owner can leave you a review and you acknowledge that:</p>
        <p>5.4.1 your review will be publicly displayed on your review page;</p>
        <p>5.4.2 any attempt to manipulate reviews through threats, intimidation or bribery is considered extortion and is strictly prohibited on the Mix Rent Service.</p>
        <p>5.5 Mix Rent reserves the right to remove reviews that violate the Terms.</p>
        <h2>6. STORAGE SPACE</h2>
        <p>6.1 By requesting to rent storage space from another user; which includes but is not limited to; garages, lofts, attics, rooms, storage units, studios, driveways; you agree and warrant that:</p>
        <p>6.1.1 you will not store anything that is hazardous to people, animals or the space around it;</p>
        <p>6.1.2 the total value of the items you store will not exceed&nbsp;$25,000;</p>
        <p>6.1.3 will only store items which would be permitted for rental through Mix Rent. Items which are prohibited for rental on Mix Rent, are also prohibited for storage in spaces rented through Mix Rent;</p>
        <h1>OWNER&#39;S RULES</h1>
        <p>You should read these rules carefully before using the Mix Rent Service to rent a vehicle (and therefore become an &quot;Owner&quot;). By using the Mix Rent Service as a Renter, you are agreeing to these rules (the &quot;Owners&#39; Rules&quot;) as well as the Terms.</p>
        <h2>1. MIX RENT&#39;S ROLE</h2>
        <p>1.1 Mix Rent is a platform for renters (a &quot;Renter&quot;) to find vehicles to rent from Owners. The Mix Rent Service enables Renters to enter into transactions with Owners to rent these vehicles, but it is important to remember that Mix Rent is not part of that transaction (the &quot;Transaction&quot;).</p>
        <p>1.2 By signing up to Mix Rent you are acknowledging that:</p>
        <p>1.2.1 you are not lending to Mix Rent but to another user of the Mix Rent Service, who has signed up as a Renter; and</p>
        <p>1.2.2 Mix Rent does not guarantee or endorse any Renter or content or communication that they post (such as photographs, language, description used in listings).</p>
        <h2>2. COMMUNICATING WITH OTHER MIX RENT USERS</h2>
        <p>2.1 You can communicate directly with Renters on the Mix Rent Service by using the &quot;Message User&quot; feature. This is a good way to find out more information about the person who is looking to rent your item. However, you may not use this feature for the following:</p>
        <p>2.1.1 sending unsolicited advertising or promotions, requests for donations or spam;</p>
        <p>2.1.2 sending unsolicited advertising or promotions, requests for donations or spam;</p>
        <p>2.1.3 harassing or abusing another user; or</p>
        <p>2.1.4 forming an agreement outside the Terms agreed with us for the purposes of Fee Avoidance.</p>
        <h2>3. LENDING A VEHICLE</h2>
        <p>3.1 By offering to lend an item you agree and warrant that you:</p>
        <p>3.1.1 have provided an honest, accurate description about your vehicle, filling in all information including to date photographs, and a reasonable Estimated Value;</p>
        <p>3.1.2 provide honest, accurate information in your profile;</p>
        <p>3.1.3 will not engage in Fee Avoidance; and</p>
        <p>3.1.4 have the funds available to cover the applicable cancellation fee payable to Mix Rent in the case of a late cancellation.</p>
        <h2>4. WHAT CAN&#39;T BE RENTED ON MIX RENT</h2>
        <p>4.1 Users come to Mix Rent to find all sorts of items, and you are free to list almost anything. However, for some reasons, we have to prohibit certain items from being rented through the Mix Rent Service. This may be for legal reasons, or to protect our users and the spirit of Mix Rent as a business.</p>
        <p>4.2 The following types of items are prohibited or restricted on Mix Rent:</p>
        <p>4.2.1 alcohol, tobacco, drugs and drugs paraphernalia;</p>
        <p>4.2.2 illegal items, items promoting illegal activity and highly regulated items</p>
        <p>4.2.3 internationally regulated items;</p>
        <p>4.2.4 pornography and mature content;</p>
        <p>4.2.5 items that violate third party intellectual property rights; or</p>
        <p>4.2.6 animal products.</p>
        <p>4.3 Policy decisions are complex, and though we will try and avoid this as much as possible, we reserve the right to remove any other items from the Mix Rent Service if we feel that, for whatever reason, it is inconsistent with our values.</p>
        <h2>5. LEAVING A REVIEW</h2>
        <p>5.1 When you have lent an item using the Mix Rent Service, Mix Rent encourages you to leave a review, as it helps Renters to build a good reputation, or warn other users about a poor experience.</p>
        <p>5.2 You can leave a review by choosing a one to five star rating.</p>
        <p>5.3 By leaving a review you acknowledge that:</p>
        <p>5.3.1 your review and profile information will be publicly displayed on the Renter&#39;s listing and review pages;</p>
        <p>5.3.2 your review will not contain:</p>
        <p>5.3.2.1 private information;</p>
        <p>5.3.2.2 obscene, racist or harassing language or imagery;</p>
        <p>5.3.2.3 advertising or spam; or</p>
        <p>5.3.2.4 content that will undermine the integrity of the review system of Mix Rent; and</p>
        <p>5.4 Similarly, you accept that a Renter can leave you a review and you acknowledge that:</p>
        <p>5.4.1 your review will be publicly displayed on your review page;</p>
        <p>5.4.2 any attempt to manipulate reviews through threats, intimidation or bribery is considered extortion and is strictly prohibited on the Mix Rent Service.</p>
        <p>5.5 Mix Rent reserves the right to remove reviews that violate the Terms.</p>
        <h2>6. STORAGE SPACE</h2>
        <p>6.1 By offering to lend out your storage space; which includes but is not limited to; garages, lofts, attics, rooms, storage units, studios, driveways; you agree and warrant that you:</p>
        <p>6.1.1 are entirely responsible for providing proper security for the items being stored in your space;</p>
        <p>6.1.2 are responsible for maintaining the condition of the space, to at least the condition that it is in when the renter agrees to leave their items in it;</p>
        <p>6.1.3 are responsible for the care and protection of all items while they are in your space;</p>
        <br/>
    </div>
{% endblock %}