<div style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ), url('/assets/images/interface/main_bottom_bg.jpg') center center; background-size: cover;min-height: 100px;padding: 70px 0;">
        <h2 class="uk-text-center c_white">{% trans %}Сдать транспорт{% endtrans %}</h2>

        <div class="uk-text-center uk-margin-large-top">
            <a href="/card/new" class="uk-button uk-button-primary">{% trans %}Сдать{% endtrans %}</a>
        </div>
    </div>